@use '../../components/GlobalStyles/GlobalStyles.scss' as s;

.wrapper {
    width: 100%;
    margin-top: 30vh;
    min-height: 400px;
    @include s.laptop {
    }

    @include s.tablet {
    }

    @include s.mobile {
        margin-top: 7vh;
    }
}

.wrapper-detail {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.wrapper-detail_imgs {
    width: 40%;

    .pro-img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

.wrapper-detail_info {
    width: 60%;
    padding-left: 20px;
}

.info-product_name {
    margin-bottom: 10px;
    h3 {
        font-size: 2.2rem;

        border-bottom: 2px #facae2 solid;
        padding-bottom: 5px;
    }
}

.info-product_price {
    h4 {
        font-size: 25px;
        color: #e23b45;
    }
}

.info-product_disc {
    padding: 10px 0;
    span {
        font-size: 1.4rem;
        color: #333;
    }
}

.info-product_btns {
    button {
        padding: 13px 55px;
        font-size: 1.4rem;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-message {
        margin-right: 15px;
        color: #006edf;
        background-color: var(--white);
        border: 1px #ccc solid;
    }

    .btn-message:hover {
        color: red;
    }

    .btn-add-cart {
        background-color: #23cc57;
        color: var(--white);
    }
    .btn-add-cart:hover {
        background-color: #1da947;
    }
}

.info-order {
    color: #333;
    font-size: 1.4rem;
    font-style: italic;
    margin: 10px 0;
}

.info-product_benefit {
    display: flex;

    .benefit-blog {
        width: 50%;
        font-size: 1.4rem;
        font-weight: 300;
        color: var(--text-color);
        span {
            display: block;
            margin: 5px 0;
        }
    }

    .check {
        width: 1.3rem;

        object-fit: cover;
        margin-right: 5px;
    }
}

.info-product_contacts {
    display: flex;

    .contacts-info_blog {
        font-size: 1.3rem;
        font-weight: 300;
        color: var(--text-color);
        margin-right: 10px;
        span {
            display: block;
            margin: 5px 0;
        }

        .contacts-info_blog-red {
            color: red;
            font-weight: 500;
        }
    }

    .icon-contack {
        width: 1.3rem;

        object-fit: cover;
        margin-right: 5px;
    }
}

.wrapper-info_detail {
    width: 100%;
    margin-bottom: 50px;
}

.wrapper-info_title {
    padding: 10px;
    background-color: var(--backgroundColor6);
    border-radius: 10px 10px 0 0;
    h3 {
        font-size: 1.6rem;
        color: #fe27a8;
    }
}

.wrapper-info_content {
}

@include s.laptop {
}

@include s.tablet {
}

@include s.mobile {
    .wrapper-detail {
        flex-direction: column;
    }

    .wrapper-detail_imgs {
        width: 100%;
        margin-bottom: 30px;
    }

    .wrapper-detail_info {
        width: 100%;
        padding-left: unset;
    }

    .info-product_name {
        margin-bottom: 10px;
        h3 {
            font-size: 2.5rem;
        }
    }

    .info-product_btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            padding: 13px 8vw;
        }
    }

    .info-order {
        color: #333;
        font-size: 1.4rem;
        font-style: italic;
        margin: 10px 0;
    }

    .info-product_benefit {
        display: flex;

        .benefit-blog {
            font-size: 1.2rem;
        }
    }

    .info-product_contacts {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        .contacts-info_blog {
            font-size: 1.3rem;
        }
    }
}
