@use '../../../components/GlobalStyles/GlobalStyles.scss' as s;

.wrapper-sale {
    width: 100%;
}

.wrapper {
    width: 100%;
    height: calc((var(--default-layout-width) * 0.39) * 0.46);
    position: relative;
    padding: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;

    @include s.laptop {
    }

    @include s.tablet {
    }

    @include s.mobile {
    }
}

.wrapper-info {
    width: 70%;
}

.wrapper-info_slogan {
    position: absolute;
    top: 10%;

    font-size: 2rem;
    font-weight: 300;
    color: var(--text-color);

    .wrapper-info_slogan-sale {
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .slogan-sale_retangle {
        width: 2.5vw;
        margin-right: 5px;
        border: 1px solid rgba(0, 0, 0, 0.4);
    }
}

.wrapper-info_name {
    position: absolute;
    top: 45%;

    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
}

.wrapper-info_btn {
    cursor: pointer;
    position: absolute;
    top: 80%;
    font-weight: 300;
    color: var(--text-color);
    img {
        margin-left: 10px;
    }
}

.wrapper-img {
    width: 30%;

    img {
        width: 100%;
        object-fit: cover;
        z-index: 9;
    }
}
