@use '../../components/GlobalStyles/GlobalStyles.scss' as s;

.wrapper {
    width: 100%;
    min-height: 400px;
    padding-bottom: 50px;
    @include s.laptop {
    }

    @include s.tablet {
    }

    @include s.mobile {
    }
}

.wrapper-billboard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
