@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

:root {
    --primary: #ff6500;
    --black: #000;
    --white: #fff;
    --text-color: #222222;
    --text-color2: #ffc43f;
    --text-color3: #818181;
    --text-color4: #898989;
    --text-color5: #ed8939;
    --text-color6: #787878;
    --text-color7: #c7c7c7;
    --text-color8: #ffa801;
    --backgroundColor: #f8f8f8;
    --backgroundColor2: #f1f1f1;
    --backgroundColor3: #ffc43f;
    --backgroundColor4: #eef5e4;
    --backgroundColor5: #e6f3fa;
    --backgroundColor6: #f9ecde;
    --backgroundColor7: #1da947;
    --BC-Header01: #000;
    --BC-Header02: #fff;
    --boderColor1: #e2e2e2;
    --active: #ffc43f;
    --button-color-hover: #d95600;
    --button-color: #23cc57;
    --border-color: #cc5100;

    //  default layout
    --default-layout-width: 84vw;
    --default-layout-width-mobile: 100vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    // background-color: #111;
}

input,
button,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

.icon-down {
    margin-left: 5px;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--button-color-hover);
    border-color: var(--border-color);
}

$res_mobile: 'only screen and (max-width: 779px)';
$res_tablet: 'only screen and (min-width: 780px) and (max-width: 1023px)';
$res_laptop: 'only screen and (min-width: 1024px)and (max-width: 1279px)';
$res_desktop: 'only screen and (min-width: 1280px)';

@mixin mobile() {
    @media #{$res_mobile} {
        @content;
    }
}
@mixin tablet() {
    @media #{$res_tablet} {
        @content;
    }
}
@mixin laptop() {
    @media #{$res_laptop} {
        @content;
    }
}
@mixin desktop() {
    @media #{$res_desktop} {
        @content;
    }
}
