@use '../../../components/GlobalStyles/GlobalStyles.scss' as s;

.wrapper {
    width: 100%;
    @include s.laptop {
    }

    @include s.tablet {
    }

    @include s.mobile {
    }
}

.wrapper-trending-product {
    width: 100%;
}

.trending-product_header {
}

.trending-product_header-title {
    font-weight: 700;
    color: var(--text-color);
    line-height: 4rem;
    margin-bottom: 20px;
}

.trending-product_body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    padding: 0 -5px;
}

.product-cart {
    width: calc((var(--default-layout-width) * 20) / 100);
    padding: 10px 5px;
}
@include s.laptop {
}

@include s.tablet {
}

@include s.mobile {
    .wrapper-trending-product {
        width: 100%;
    }

    .trending-product_header {
    }

    .trending-product_header-title {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--text-color);
        line-height: 3rem;
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .trending-product_body {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-wrap: wrap;
        padding: 0 -5px;
    }

    .product-cart {
        width: calc((var(--default-layout-width-mobile) * 50) / 100);
        padding: 10px 5px;
    }
}
