@use '../../../GlobalStyles/GlobalStyles.scss' as s;

.wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    border-bottom: 1px solid var(--text-color3);
    background-color: var(--BC-Header02);
}

.gallery-display-area {
    width: var(--default-layout-width);
    margin: 0 auto;

    @include s.laptop {
    }
    @include s.tablet {
        width: var(--default-layout-width-mobile);
    }
    @include s.mobile {
        width: var(--default-layout-width-mobile);
    }
}

.wrapper-setarator {
    width: 100%;
    margin: 20px 0;
}

.wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wrapper-header_logo-search {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .wrapper-header_support-user {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .wrapper-header_logo {
        height: 54px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1px;
    }

    .wrapper-header_logo-img {
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
        }
    }

    .wrapper-header_logo-name {
    }

    .wrapper-header_search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--backgroundColor);
        padding: 1vh 1vw;
        border-radius: 5px;

        .wrapper-header_search-selecte {
            select {
                font-size: 1.4rem;
                line-height: 2rem;
                padding-right: 1vw;
                border: none;
                background: transparent;
                cursor: pointer;
            }
        }

        .wrapper-header_search-rectangle {
            height: 3vh;
            margin: 0 1vw;
            border: 1px solid #dedede;
        }

        .wrapper-header_search-input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            input {
                font-size: 1.4rem;
                margin-right: 5vw;
                background-color: transparent;
            }
            img {
            }
        }
    }

    .wrapper-header_support {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        p:first-child {
            font-size: 1.2rem;
            font-weight: 400;
            color: var(--text-color4);
            line-height: 1.6rem;
            text-align: right;
        }

        p:last-child {
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--text-color);
            line-height: 2.4rem;
        }
    }

    .wrapper-header_user-interactive {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 60%;
    }

    .wrapper-header_wishlists,
    .wrapper-header_cart-icon,
    .wrapper-header_login {
        width: 32px;
        height: 32px;
        padding: 4px 10px;
        background-color: var(--backgroundColor2);
        border-radius: 50%;
        cursor: pointer;
        margin-left: 15px;
    }

    .header_login-image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 15px;
        object-fit: cover;
    }

    .wrapper-header_cart-icon,
    .wrapper-header_wishlists {
        position: relative;

        span {
            width: 20px;
            height: 20px;
            text-align: center;
            position: absolute;
            top: -10px;
            right: -10px;
            // padding: 1px 4px;
            font-size: 0.8rem;
            font-weight: 400;
            color: var(--text-color);
            line-height: 1.6rem;
            background-color: var(--backgroundColor3);
            border-radius: 50%;
            border: 2px solid var(--white);
        }
    }

    .wrapper-header_cart {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .wrapper-header_cart-icon {
            margin-right: 2vw;
        }

        .wrapper-header_cart-price {
            p:first-child {
                font-size: 1.2rem;
                font-weight: 400;
                color: var(--text-color4);
                line-height: 1.6rem;
            }
            p:last-child {
                font-size: 1.5rem;
                font-weight: 600;
                color: var(--text-color);
                line-height: 2.4rem;
                span {
                    margin-left: 0.5vw;
                }
            }
        }
    }

    .wrapper-mobile_header {
        display: none;
    }

    @include s.laptop {
    }
    @include s.tablet {
        .wrapper-header_logo-search,
        .wrapper-header_support-user {
            display: none;
        }

        .wrapper-mobile_header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1vw 3vw;

            .wrapper-mobile_header-nemu {
                padding: 5px 10px;
                border-radius: 5px;
                background-color: var(--backgroundColor2);
            }
        }

        .wrapper-header_cart {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .wrapper-header_cart-icon {
                margin-right: unset;
                border-radius: 5px;
            }
        }
    }
    @include s.mobile {
        .wrapper-header_logo-search,
        .wrapper-header_support-user {
            display: none;
        }

        .wrapper-mobile_header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1vw 3vw;

            .wrapper-mobile_header-nemu {
                padding: 5px 10px;
                border-radius: 5px;
                background-color: var(--backgroundColor2);
            }
        }

        .wrapper-header_cart {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .wrapper-header_cart-icon {
                margin-right: unset;
                border-radius: 5px;
            }
        }
    }
}

.wrapper-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .wrapper-navbar_nav {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .wrapper-navbar_nav-departments {
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 2.2rem;
        padding-right: 15px;
        border: none;
        background-color: transparent;
    }

    .wrapper-navbar_nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;

        li {
            border-radius: 5px;
            border: none;

            a {
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 22px;
                padding: 8px 15px;
                display: block;
            }
        }
        .active {
            background-color: var(--active);
        }
    }

    .wrapper-navbar_coupon-code {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .coupon-code_img {
            width: 24px;
            margin-right: 10px;
            img {
                width: 100%;
            }
        }

        p {
            font-size: 1.6rem;
        }
    }

    @include s.laptop {
    }
    @include s.tablet {
        display: none;
    }
    @include s.mobile {
        display: none;
    }
}

.wrapper-navbar_mobiler {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.mobile-navbar {
    width: 70%;
    padding: 30px 20px 20px 20px;
    background-color: var(--white);
}
.mobile-navbar_inner-list {
    width: 100%;
    list-style: none;

    .inner-list_user {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        border-bottom: 1px solid var(--text-color4);
        margin-bottom: 20px;

        .inner-list_user-image {
            width: 30%;
            padding: 10px;
            .header_login-image {
                width: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .inner-list_user-info {
            width: 70%;
            padding: 15px;

            .user-info_name-0,
            .user-info_name-1 {
                display: block;
                font-size: 1.4rem;
                margin-bottom: 5px;
            }
            .user-info_name-0 {
                color: red;
            }
            .user-info_name-1 {
                color: var(--backgroundColor7);
            }
            .user-info_rank {
                display: block;
                font-size: 1.2rem;

                color: #006edf;
            }
        }
    }

    .menu-item {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    .menu-item :hover {
        background-color: var(--backgroundColor3);
    }

    .navbar-item_status {
        font-size: 1.4rem;
        padding: 30px 0 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar-item_register-btn {
            color: #006edf;
        }

        .navbar-item_logout {
            color: red;
        }

        .navbar-item_login {
            color: #006edf;
        }
    }
}
