@use '../../components/GlobalStyles/GlobalStyles.scss' as s;

.wrapper {
    width: 100%;
    padding-top: 30vh;
    padding-bottom: 50px;
    @include s.laptop {
    }
    @include s.tablet {
    }
    @include s.mobile {
        padding-top: 7vh;
    }
}

.wrapper-cart {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);

    .wrapper-cart_header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);

        .wrapper-cart_title {
            margin-right: 20px;
        }

        .wrapper-cart_count {
        }
    }

    @include s.laptop {
    }
    @include s.tablet {
    }
    @include s.mobile {
    }
}

.wrapper-cart_detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // detail
}

.wrapper-cart_products {
    width: 70%;
    padding: 10px;

    li {
        list-style: none;
    }

    // border-right: 1px solid rgba(0, 0, 0, 0.5);
    .cart_product {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .no-product {
        width: 100%;
        p {
            text-align: center;
        }
    }

    .cart_product-serial {
        text-align: center;
        width: 5%;
    }

    .cart_product-detail {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    }

    .cart_product-img {
        width: 10%;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;

        img {
            width: 100%;
            height: calc((var(--default-layout-width) * 0.06));
            object-fit: cover;
            border: 1px solid rgba(0, 0, 0, 0.5);
            border-radius: 10px;
        }
    }
    .cart_product-detail-handle {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    }

    .cart_product-info {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cart_product-info-name {
            width: 40%;
            text-align: center;
        }

        .cart_product-info-count {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .product_count-product {
                width: 100%;
                font-size: 1.4rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 20%;
            }
            .btn_minus,
            .btn_add {
                cursor: pointer;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid var(--boderColor1);
                border-radius: 5px;
            }

            .product_btn-input {
                width: 20%;
                text-align: center;
                font-size: 1.2rem;
                line-height: 1.2rem;
                display: inline;
            }
            // .product_btn-input {
            //     font-size: 1.2rem;
            //     line-height: 1.2rem;
            //     display: inline;
            // }

            .btn_add {
                padding: 1px 3px;

                border: 1px solid var(--boderColor1);
            }
        }

        .cart_product-info-price {
            width: 30%;
            text-align: center;
        }
    }

    .cart_product-delete {
        width: 10%;
        .product-delete_btn {
            padding: 5px 15px;
            background-color: var(--button-color);
            border-radius: 5px;
        }

        .product-delete_btn:hover {
            background-color: var(--button-color-hover);
        }
    }
}

.wrapper-cart_infos {
    width: 30%;

    background-color: var(--backgroundColor3);
    border: 1px solid rgba(0, 0, 0, 0.5);
    .wrapper-cart_info {
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }
}

.wrapper-cart_info-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    .wrapper-cart_info-title {
        text-align: center;
        font-size: 1.6rem;
        line-height: 4rem;
    }
}

.wrapper-cart_info-total {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-cart_btn {
    padding: 10px;

    .wrapper-cart_info-grand-total {
        padding-bottom: 20px;
    }

    .cart_btn-order {
        cursor: pointer;
        width: 100%;
        font-size: 1.8rem;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: var(--button-color);
    }

    .cart_btn-order:hover {
        transform: scale(0.95);
        transition: transform 0.5s;
    }
}
.wrapper-cart_info-total {
}

@include s.laptop {
}
@include s.tablet {
}
@include s.mobile {
    .wrapper-cart_detail {
        display: block;
    }

    .wrapper-cart_products {
        width: 100%;
        min-height: 30vw;
        padding: 10px;

        .cart_product-serial {
            text-align: center;
            width: 5%;
        }

        .cart_product-detail {
            width: 95%;
        }

        .cart_product-img {
            width: 40%;

            img {
                width: 100%;
                height: unset;
            }
        }
        .cart_product-detail-handle {
            width: 60%;
            display: block;
        }

        .cart_product-info {
            width: 100%;
            display: block;

            .cart_product-info-name {
                width: 100%;
                font-size: 1.8rem;
                text-align: center;
                margin: 10px 0;
            }

            .cart_product-info-count {
                width: 100%;
                margin-bottom: 10px;
            }

            .cart_product-info-price {
                width: 100%;
                text-align: center;
                color: red;
            }
        }

        .cart_product-delete {
            width: 100%;
            display: flex;
            justify-content: end;

            .product-delete_btn {
                padding: 7px 15px;
                background-color: var(--button-color);
                border-radius: 5px;
                margin: 10px;
            }

            .product-delete_btn:hover {
                background-color: var(--button-color-hover);
            }
        }
    }

    .wrapper-cart_infos {
        width: 100%;

        background-color: var(--backgroundColor3);
        border: 1px solid rgba(0, 0, 0, 0.5);
        .wrapper-cart_info {
            padding: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        }
    }

    .wrapper-cart_info-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        .wrapper-cart_info-title {
            text-align: center;
            font-size: 1.6rem;
            line-height: 4rem;
        }
    }

    .wrapper-cart_info-total {
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .wrapper-cart_btn {
        padding: 10px;

        .wrapper-cart_info-grand-total {
            padding-bottom: 20px;
        }

        .cart_btn-order {
            cursor: pointer;
            width: 100%;
            font-size: 1.8rem;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: var(--button-color);
        }

        .cart_btn-order:hover {
            transform: scale(0.95);
            transition: transform 0.5s;
        }
    }
    .wrapper-cart_info-total {
    }
}
